<blockquote class="fields smaller-font">
	<p>
		<%= f.label :name, "Benodigdheid:" %>
		<%= f.text_field :name %><br>
		<div class="date-selector">
			<%= f.label 'Begin:' %> 
			<%= f.datetime_select :start_at %>
	 	</div>
		<div class="date-selector">
			<%= f.label 'Einde:' %> 
			<%= f.datetime_select :end_at %>
	 	</div>
		Item door iemand voorzien?
		<%= f.check_box :provided %><br><br>
		Aantekeningen voor jezelf:<br>
		<%= f.text_area :notes, :rows => 6 %>
	</p>
	<p>
		<%= link_to_remove_fields "Verwijder benodigdheid", f %>
	</p>
</blockquote>
<hr>	

