<div class="well">
   	<%= link_to question.query, question_items_path(question), :class => "fancybox" %><br><br>
	<%= link_to 'Reageer', new_question_comment_path(question) + "?fancybox=true", :class => "btn fancybox" %>
	<%= link_to 'Bekijk benodigdheden', question_items_path(question) + "?fancybox=true", :class => "btn fancybox" %>
	<% if user_signed_in? %>
	    	<br><%= link_to 'Bewerken', edit_question_path(question) + "?type=" + question.type %> | 
	  	<%= link_to 'Verwijderen', question, confirm: "Weet je zeker dat je deze vraag wilt verwijderen? Alle bijbehorende reacties worden hierdoor ook verwijderd.", method: :delete %>
	<% end %>
</div>
<div class="content_hidden comments" style="display:none">
	<% comments = question.get_question_comments %>
	<% if comments.empty? %>
		<blockquote>Nog geen commentaar, wees de eerste!</blockquote>
	<% else %>
		<%= render :partial => 'comment', :collection => comments %>
	<% end %> 
</div>
<%= link_to "javascript:void(0);", :class => "toggle" do %>
	<div class="comments-toggle">
		<i class="arrow icon-chevron-down"></i>
	</div>	
<% end %>
