<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to "Bekijk per vraag", questions_path %></li>
			<li><%= link_to "Bekijk over tijd", calendar_path %></li>
		</ul>	</div>
</div>
<div class="row">
	<div class="span4">
		<h3>Handjes</h3>
		<% if user_signed_in? %>
			<%= link_to 'Plaats nieuwe vraag om handjes', :controller => :questions, :action => :new, :type => "help" %>
		<% end %>
		<%= render :partial => "question", :collection => @help %>
	</div>
	<div class="span4">
		<h3>Gereedschappen</h3>
		<% if user_signed_in? %>
			<%= link_to 'Plaats nieuwe vraag om gereedschappen', :controller => :questions, :action => :new, :type => "tool" %>
		<% end %>
		<%= render :partial => "question", :collection => @tools %>
	</div>
	<div class="span4">
		<h3>Materialen</h3>
		<% if user_signed_in? %>
			<%= link_to 'Plaats nieuwe vraag om materiaal', :controller => :questions, :action => :new, :type => "material" %>
		<% end %>
		<%= render :partial => "question", :collection => @materials %>
	</div>
</div>

