<h3><%= message.subject %></h3>

<% @resource.attributes.each do |attribute, value|
  next if value.blank? || attribute == 'email' %>

	<p><b><%= case attribute
		when 'project_query'
			"Project omschrijving:"
		when 'project_start_at'
			"Start datum:"
		when 'project_end_at'
			"Eind datum:"
		when 'project_dayparts'
			"Dagdelen:"
		when 'item_names'
			"Bijdragen:"
		when 'items'
			"Benodigdheden voor dit project:"
		when 'user_email'
			"Email nieuwe gebruiker:"
   	else 
			@resource.class.human_attribute_name(attribute)
		end
	%></b><br>

  <%= case value
    when /\n/
      raw(simple_format(h(value)))
    when Time, DateTime, Date
      I18n.l(value, :format => '%d %B %Y')
    else
      value
    end
  %></p>
<% end %>

<% unless @resource.class.mail_appendable.blank? %>
  <br /><h4 style="text-decoration:underline"><%= I18n.t :title, :scope => [ :mail_form, :request ], :default => 'Request information' %></h4>

  <% @resource.class.mail_appendable.each do |attribute|
    value = @resource.request.send(attribute)

    value = if value.is_a?(Hash) && !value.empty?
      list = value.to_a.map{ |k,v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
      content_tag(:ul, raw(list), :style => "list-style:none;")
    elsif value.is_a?(String)
      value
    else
      value.inspect
    end
  %>

    <p><b><%= I18n.t attribute, :scope => [ :mail_form, :request ], :default => attribute.to_s.humanize %>:</b>
    <%= value.include?("\n") ? simple_format(value) : value %></p>
  <% end %>
  <br />
<% end %>

<p>Deze mail is automatisch verstuurd via de <%= link_to "waardeverbinder", "http://www.waardeverbinder.nl/", :target => "_blank" %>. Als je geen herinneringen meer wilt ontvangen, dan kun je deze in je profiel uitzetten.</p>

