<h3><%= message.subject %></h3>

<% @resource.mail_form_attributes.each do |attribute, value| %>
  <% if attribute == "update_notice" && value == "true" %>
    <p>Hieronder vind je de nieuwste gegevens.</p>
  <% end %>

  <% next if value.blank? || attribute == 'update_notice' || attribute == 'email' || attribute == 'admin_email' || attribute == 'recipients' %>

	<p><b><%= case attribute
    when 'initiative'
      "Bucket Line:"
    when 'project_query'
			"Klus omschrijving:"
		when 'project_start_at'
			"Begin:"
		when 'project_end_at'
			"Einde:"
		when 'project_date'
      "Datum:"
    when 'role'
      "Nieuwe rol:"
    when 'project_dayparts'
			"Dagdelen:"
		when 'location'
			"Verzamel locatie:"
		when 'admin_contact'
			"Contact informatie:"
		when 'project_remark'
			"Extra opmerkingen:"
    when 'initiative_names'
      "Bucket Line:"
    when 'project_names'
      "Klus(sen):"
 		when 'item_names'
			"Items:"
    when 'item_name'
      "Item:"
    when 'amount'
      "Aantal:"
    when 'item_sentence'
      "Benodigdheden:"
		when 'items'
			"Benodigdheden voor deze klus:"
		when 'user_email'
			"Email nieuwe gebruiker:"
   	when 'contributor_name'
      "Naam bijdrager:"
    when 'contributor_email'
      "Email bijdrager:"
    when 'project_completion'
      "Klus status:"
    else 
			@resource.class.human_attribute_name(attribute)
		end
	%></b><br>

  <%= case value
    when /\n/
      raw(simple_format(h(value)))
    when Time, DateTime, Date
      I18n.l(value, :format => :long)
    else
      value
    end
  %></p>
<% end %>

<% unless @resource.class.mail_appendable.blank? %>
  <br /><h4 style="text-decoration:underline"><%= I18n.t :title, :scope => [ :mail_form, :request ], :default => 'Request information' %></h4>

  <% @resource.class.mail_appendable.each do |attribute|
    value = @resource.request.send(attribute)

    value = if value.is_a?(Hash) && !value.empty?
      list = value.to_a.map{ |k,v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
      content_tag(:ul, raw(list), :style => "list-style:none;")
    elsif value.is_a?(String)
      value
    else
      value.inspect
    end
  %>

    <p><b><%= I18n.t attribute, :scope => [ :mail_form, :request ], :default => attribute.to_s.humanize %>:</b>
    <%= value.include?("\n") ? simple_format(value) : value %></p>
  <% end %>
  <br />
<% end %>

<p>Deze mail is automatisch verstuurd via <%= link_to "Bucket Line", "http://bucketline.nl", :target => "_blank" %>. Reageer niet op deze mail, maar geef je bijdrage door in Bucket Line. Als je geen herinneringen meer wilt ontvangen, dan kun je deze in je profiel uitzetten.</p>

