<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Naam:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :expertise, "Expertise in:" %><br />
    <%= f.text_field :expertise %>
  </div>
	<h3>Beschikbaarheid</h3>
  <%= f.fields_for :available_dates do |builder| %>
		<%= render "available_date_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Beschikbaarheid toevoegen", f, :available_dates %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
