<%= form_for(@profile, :html => {:class => "form-horizontal form-profile"}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@profile.errors.count, "error") %>:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
	<h3>Persoonlijke instellingen</h3>
  <div class="control-group">
    <%= f.label :phone, "Telefoon:", :class => "control-label" %>
		<div class="controls">
		  <%= f.text_field :phone, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :expertise, "Ik ben goed in:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_field :expertise, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :willing_to_help_with, "Ik kan helpen met:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_area :willing_to_help_with, :rows => 6, :class => "input-xlarge" %>
		</div> 
	</div>
  <div class="control-group">
    <%= f.label :tools_and_materials, "Handige spullen in mijn bezit:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_area :tools_and_materials, :rows => 6, :class => "input-xlarge" %>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		  	<%= f.check_box :willing_to_become_admin %>
		  	Ik ben bereid om buddy te worden als de nood aan de man is.
			</label>
		</div>
  </div>
	<hr>
	<h3>E-mail instellingen</h3>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		  	<%= f.check_box :send_reminder_mail %>
		  	Stuur mij een herinnerings-email, één dag voor een toegezegde bijdrage.
			</label>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		    <%= f.check_box :always_send_project_placement_mail %>
		    Stuur mij een email als er een nieuwe klus of benodigdheid geplaatst wordt.
			</label>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		    <%= f.check_box :send_project_cancellation_mail %>
		    Stuur mij een email als een klus of benodigdheid waaraan ik bijdraag wordt geannuleerd of gewijzigd.
			</label>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		    <%= f.check_box :send_user_role_update_mail %>
		    Stuur mij een email als mijn bevoegdheden in een Bucket Line wordt aangepast.
			</label>
		</div>
  </div>
		<div class="form-actions" style="padding-left:20px;">
  		<%= f.submit "Profiel opslaan", :class => "btn btn-primary" %>
  	</div>
  
<% end %>
