<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Naam:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :expertise, "Waar ben je goed in?" %><br />
    <%= f.text_field :expertise %>
  </div>
  <div class="field">
    <%= f.label :willing_to_help_with, "Ik kan helpen met..." %><br />
    <%= f.text_area :willing_to_help_with, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label :tools_and_materials, "Ik kan de volgende gereedschappen en materialen inbrengen..." %><br />
    <%= f.text_area :tools_and_materials, :rows => 6 %>
  </div>
	<br>
  <div class="field">
    <%= f.check_box :send_reminder_mail %>
    Stuur mij een herinnerings-email, één dag voor een toegezegde bijdrage.
  </div>
  <div class="field">
    <%= f.check_box :send_project_placement_mail %>
    Stuur mij een email als er een project gepland wordt, op een dag dat ik beschikbaar ben.
  </div>
	<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
