<%= form_for(@profile, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@profile.errors.count, "error") %>:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, "Naam:", :class => "control-label" %>
		<div class="controls">
		  <%= f.text_field :name %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :phone, "Telefoon:", :class => "control-label" %>
		<div class="controls">
		  <%= f.text_field :phone %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :expertise, "Ik ben goed in:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_field :expertise %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :willing_to_help_with, "Ik kan helpen met:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_area :willing_to_help_with, :rows => 6 %>
		</div> 
	</div>
  <div class="control-group">
    <%= f.label :tools_and_materials, "Ik kan de volgende gereedschappen en materialen inbrengen:", :class => "control-label" %>
		<div class="controls">
	    <%= f.text_area :tools_and_materials, :rows => 6 %>
		</div>
  </div>
	<br>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		  	<%= f.check_box :send_reminder_mail %>
		  	Stuur mij een herinnerings-email, één dag voor een toegezegde bijdrage.
			</label>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		    <%= f.check_box :always_send_project_placement_mail %>
		    Stuur mij een email als er een nieuw project gepland wordt.
			</label>
		</div>
  </div>
	<br>
  <div class="form-actions" style="padding-left:20px;">
    <%= f.submit "Profiel opslaan", :class => "btn btn-primary" %>
  </div>
<% end %>
