<h2>Overzicht van alle gebruikers</h2>
<p>Sociaal kapitaal beschikbaar voor Huis van Overvloed</p>

<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Naam</th>
		<th>Expertise</th>		
		<th>Kan helpen met</th>		
		<th>Gereedschappen en materialen</th>		
		<th>Telefoon</th>		
		<th>Email</th>		
		<th>Admin</th>		
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.profile.expertise %></td>
			<td><%= user.profile.willing_to_help_with %></td>
			<td><%= user.profile.tools_and_materials %></td>
			<td><%= user.profile.phone %></td>
			<td><%= user.email %></td>
			<td><%= "\u2713" if user.initiative_admin(@initiative) %></td>
		</tr>
	<% end %>	
</table>

<div class="well">
	<p>Kopiëerbare lijst met alle adressen:</p>
	<%= text_field_tag "emails", build_emails_for_copy(@users), :style => "width:99%;" %>
	<p><b>Let op:</b> zet deze adressen om privacy redenen alleen in de 'bcc' van de email. (Anders weet iedereen elkaars email!)</p>
</div>
