<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Expertise:</b>
  <%= @profile.expertise %>
</p>

<p>
  <b>Availability:</b>
  <%= @profile.availability.to_s %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
