<%= link_to profile_info_path(current_user.profile), :class => "fancybox" do %>
	<%= image_tag "help.png", :class => "help-icon" %>
<% end %>
<h2>Mijn gegevens</h2>
<%= render 'form' %>


<h2>Overzicht van mijn bijdragen</h2>
<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Project</th>
		<th>Bijdrage</th>
		<th>Aantal</th>
		<th>Datum</th>
		<th>Begintijd</th>		
		<th>Eindtijd</th>		
		<th></th>		
	</tr>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.project.query if item.project_id %></td>
			<td><%= item.name %></td>
			<td><%= get_amount(@profile, item) %></td>
			<td><%= pretty_date(item.project.start_at) if item.project_id %></td>
			<td><%= pretty_time(item.project.start_at) if item.project_id %></td>
			<td><%= pretty_time(item.project.end_at) if item.project_id %></td>
			<td><%= link_to "bijdrage intrekken", remove_item_from_profile_path(@profile, item), :confirm => "Weet je zeker dat je deze bijdrage wilt intrekken?" %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Verwijder mijn account', user_registration_path, :method => :delete, :confirm => "Weet je zeker dat je je volledige inschrijving wilt verwijderen? Al je bijdragen worden ingetrokken en je kunt dan niet meer bijdragen." %>
