<div class="row">
	<%= link_to profile_info_path(current_user.profile), :class => "fancybox" do %>
		<i class="icon-question-sign pull-right"></i>
	<% end %>
</div>
<h2>Mijn gegevens</h2>
<p>
  <b>Naam:</b><br>
  <%= @profile.name %>
</p>
<p>
  <b>Waar ben je goed in?</b><br>
  <%= @profile.expertise %>
</p>

<p>
  <b>Ik kan helpen met...</b><br>
  <%= @profile.willing_to_help_with %>
</p>

<p>
  <b>Ik kan de volgende gereedschappen en materialen inbrengen...</b><br>
  <%= @profile.tools_and_materials %>
</p>
<%= link_to 'Profiel bewerken', edit_profile_path(@profile) %>

<h2>Overzicht van mijn bijdragen</h2>
<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Project</th>
		<th>Bijdrage</th>
		<th>Aantal</th>
		<th>Begindatum</th>
		<th>Einddatum</th>		
		<th>Dagdelen</th>
		<th></th>		
	</tr>
	<% @profile.items.each do |item| %>
		<tr>
			<td><%= item.project.query %></td>
			<td><%= item.name %></td>
			<td><%= "Nog doen" %></td>
			<td><%= item.start_at.to_s %></td>
			<td><%= item.end_at.to_s %></td>
			<td><%= get_dayparts(item) %></td>
			<td><%= link_to "bijdrage intrekken", root_path %></td>
		</tr>
	<% end %>	
</table>
