<%= link_to profile_info_path(current_user.profile), :class => "fancybox" do %>
	<%= image_tag "help.png", :class => "help-icon" %>
<% end %>
<h2>Mijn gegevens</h2>
<dl>
	<dt>Naam</dt>
	<dd><%= @profile.name %></dd>
	<dt>Telefoon</dt>
	<dd><%= @profile.phone %></dd>
	<dt>Ik ben goed in</dt>
	<dd><%= @profile.expertise %></dd>
	<dt>Ik kan helpen met</dt>
	<dd><%= @profile.willing_to_help_with %></dd>
	<dt>Ik kan de volgende gereedschappen en materialen inbrengen</dt>
	<dd><%= @profile.tools_and_materials %></dd>
	<dt>Herinneringen per mail</dt>
	<% if @profile.send_reminder_mail %>
		<dd>Eén dag voor een toegezegde bijdrage</dd>
	<% end %>
	<% if @profile.always_send_project_placement_mail %>
		<dd>Als er een nieuw project wordt gepland</dd>
	<% end %>
	<% if @profile.send_project_placement_mail %>
		<dd>Als er een project wordt gepland op een dag dat ik beschikbaar ben</dd>
	<% end %>
	<% if !@profile.send_project_placement_mail && !@profile.send_reminder_mail %>
		<dd>Geen herinneringen ingesteld</dd>
	<% end %>
</dl>
<p><%= link_to 'Profiel bewerken', edit_profile_path(@profile) %></p><br>

<h2>Overzicht van mijn bijdragen</h2>
<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Project</th>
		<th>Bijdrage</th>
		<th>Aantal</th>
		<th>Begindatum</th>
		<th>Einddatum</th>		
		<th>Dagdelen</th>
		<th></th>		
	</tr>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.project.query %></td>
			<td><%= item.name %></td>
			<td><%= get_amount(@profile, item) %></td>
			<td><%= pretty_date(item.start_at) %></td>
			<td><%= pretty_date(item.end_at) %></td>
			<td><%= build_daytext(item) %></td>
			<td><%= link_to "bijdrage intrekken", remove_item_from_profile_path(@profile, item), :confirm => "Weet je zeker dat je deze bijdrage wilt intrekken?" %></td>
		</tr>
	<% end %>	
</table>
