<h2>Super admin overzicht van alle applicatiegebruikers</h2>
<p>Totaal beschikbare sociale kapitaal</p>

<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Naam</th>
		<th>Bucket Line</th>
		<th>Expertise</th>		
		<th>Kan helpen met</th>		
		<th>Gereedschappen en materialen</th>		
		<th>Telefoon</th>		
		<th>Email</th>		
		<th>Admin</th>		
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= initiatives_to_sentence(user.initiatives) %></td>
			<td><%= user.profile.expertise %></td>
			<td><%= user.profile.willing_to_help_with %></td>
			<td><%= user.profile.tools_and_materials %></td>
			<td><%= user.profile.phone %></td>
			<td><%= user.email %></td>
			<td><%= "\u2713" if user.initiative_admin(user.initiatives) || user.super_admin %></td>
		</tr>
	<% end %>	
</table>


