= form_for @initiative, :url => new_initiative_url  do |f|
  - if @initiative.errors.any?
    %h6.alert
      = pluralize(@initiative.errors.count, "error")
      prohibited this initiative from being saved:

  = f.label :name, class: form_error_class(@initiative.errors[:name])
  = f.text_field :name, class: form_error_class(@initiative.errors[:name])
  - if !@initiative.errors[:name].empty?
    %small.error #{@initiative.errors[:name].first}

  = f.label :location, class: form_error_class(@initiative.errors[:location])
  = f.text_field :location, class: form_error_class(@initiative.errors[:location])
  - if !@initiative.errors[:location].empty?
    %small.error #{@initiative.errors[:location].first}

  = f.label :description, class: form_error_class(@initiative.errors[:description])
  = f.text_area :description, class: form_error_class(@initiative.errors[:description])
  - if !@initiative.errors[:description].empty?
    %small.error #{@initiative.errors[:description].first}

  = f.submit "Bucket Line aanmaken", class: "button"

