<div class="row">
	<div class="span6">
		<h1>UVP</h1>
	</div>
</div>

<% if current_user %>
	<p>Mijn bucketlines (waar lid van)</p>
	<div class="row">
		<table>
			<tr>
				<th>Initiatief</th>
				<th>Locatie</th>
				<th>Omschrijving</th>
				<th>Mijn rol</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>

		<% @initiatives.each do |initiative| %>
			<tr>
				<td><%= initiative.name %></td>
				<td><%= initiative.location %></td>
				<td><%= initiative.description %></td>
				<% user_role = UserRole.where(:user_id => current_user.id, :initiative_id => initiative.id).last %>
				<td><%= if user_role.admin then 'admin' else 'bijdrager' end %></td>
				<td><%= link_to 'Bekijk initiatief', initiative_projects_path(initiative) %></td>
				<% if user_role.admin %>
					<td><%= link_to 'Bewerken', edit_initiative_path(initiative) %></td>
					<td><%= link_to 'Verwijderen', initiative, confirm: 'Weet je het zeker?', method: :delete %></td>
				<% end %>
			</tr>
		<% end %>
		</table>

		<% if current_user.super_admin %>
			<%= link_to 'New Initiative', new_initiative_path %>
		<% end %>
	</div>
<% end %>

<div class="row">
	<div class="span4">
		<h3>Bucketline</h3>
		<p>Gedetailleerdere uitleg, wie, wat, waarom, <%= link_to 'Log in', login_path %> of <%= link_to 'meld je aan', new_user_registration_path %>.</p> 
	</div>
</div>
<div class="row">
	<div class="span4">
	</div>
</div>
