- content_for :header do
  = render :partial => "shared/site_admin_sub_nav" 

= link_to 'Nieuwe Bucket Line', new_initiative_path, class: "large button"
= link_to 'Nieuwe BL (Patient + Buddy)', new_with_buddy_initiatives_url(subdomain: false), class: "large button"
- if !@initiatives.empty?
  %table.admin-table
    %thead
      %tr
        %th Initiatief
        %th Locatie
        %th Omschrijving
        %th Mijn rol
        %th
        //%th
    %tbody
      - @initiatives.each do |initiative|
        %tr
          %td= initiative.name
          %td= initiative.location
          %td= initiative.description
          - user_admin_role = current_user.initiative_admin(initiative)
          %td= if user_admin_role then 'admin' else 'bijdrager' end
          %td= link_to 'Bekijk kalender', root_url(subdomain: initiative.slug)
          %td
            = link_to 'Verwijderen', initiative_url(subdomain: initiative.slug, id: initiative.id), confirm: 'Bucket Line wordt verwijderd inclusief alle klussen en benodigdheden. Dit kan niet ongedaan worden gemaakt. Weet je het echt zeker?', method: :delete

  .alert.alert-block
    %p{:style => "font-weight:bold;"} Je bent nog geen lid van een Bucket Line, lid worden van een Bucket Line gaat altijd op uitnodiging. Binnenkort nemen we contact me je op, om te kijken hoe we je verder kunnen helpen. Voor losse vragen kun je mailen met info@bucketline.nl