<% content_for :header do %>
  <h1>Instellingen</h1>
  <h4 class="subheader">Wijzig je wachtwoord</h4>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => "profiles/sidebar" %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>Naam<br />
  <%= f.text_field :name %></div>

  <div>Email<br />
  <%= f.email_field :email %></div>

  <div>Nieuw wachtwoord <i>(leeglaten als je deze niet wilt veranderen)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>Nieuw wachtwoord bevestigen<br />
  <%= f.password_field :password_confirmation %></div>

  <div>Huidige wachtwoord <i>(we hebben je huidige wachtwoord nodig om veranderingen te bevestigen)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Instellingen wijzigen", :class => "button" %></div>
<% end %>

<%= link_to 'Verwijder mijn volledige inschrijving bij Bucket Line', user_registration_path, :method => :delete, :confirm => "Weet je zeker dat je je volledige inschrijving wilt verwijderen? Al je bijdragen worden ingetrokken en je kunt niet meer verder bijdragen." %>