- content_for :header do
  .interior-header
    .row
      .large-4.columns
        .title-text.white-text.hide-for-small
          Deelnemen

.row
  .twelve.columns
    %p  Deelnemen aan een Bucket Line gaat altijd op uitnodiging, maar via dit formulier kun je vast je interesse tonen. Je stelt ook vast je wachtwoord in, zodat je meteen aangemeld bent. Na verzending van het formulier nemen wij contact met je op om je verder te helpen. Voor losse vragen kun je ook mailen maar info@bucketline.nl.

.row
  .four.columns
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
      = devise_error_messages!
      = f.label "Naam"
      = f.text_field :name
      = f.label :email
      = f.email_field :email
      = f.label "Nieuw wachtwoord"
      = f.password_field :password
      = f.label "Nieuw wachtwoord bevestigen"
      = f.password_field :password_confirmation
      .terms
        = f.check_box :terms_and_conditions_accepted
        = raw(t('shared.accept_tac', :tac_link => link_to(t('shared.user_privacy'), terms_and_conditions_url + "?fancybox=true", :class => "fancybox")))
      = f.submit "Versturen", :class=>"button"