<h2>Registreer om mee te helpen</h2>
<p>We vragen om je te registreren, zodat we alles in goede banen kunnen leiden. Je kunt je registreren via een directe login, of via facebook.</p>
<br>
<div class="row">
	<div class="span6 login">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
			<%= devise_error_messages! %>

			<div class="control-group">
				<%= f.label :email, :class => "control-label" %>
				<div class="controls"> 
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label "Wachtwoord", :class => "control-label" %>
				<div class="controls"> 
					<%= f.password_field :password %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label "Wachtwoord bevestigen", :class => "control-label" %>
				<div class="controls"> 
					<%= f.password_field :password_confirmation %>
				</div>
			</div>

			<div class="controls">
				<%= f.submit "Registreren", :class=>"btn btn-primary" %>
			</div>
		<% end %>

		<div class="login-links">
			<%= render "links" %>
		</div>
	</div>
	<div class="span5 last">
		<p class="fb-login">Of:<br><%= link_to 'Registreer met facebook', '/auth/facebook/', :class=> "btn btn-primary" %></p>
	</div>
</div>
