<%= form_for [@question, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<blockquote>
		<%= f.label 'Naam:' %><br />    
		<%= f.text_field :author %>
 	</blockquote>

	<blockquote>
		<%= f.label 'Te plaatsen bericht:' %><br />    
		<%= f.text_field :body %>
 	</blockquote>

	<blockquote>
		<%= f.label 'Extra info en/of contactinformatie over jezelf en verwijzingen (alleen zichtbaar voor de vraagsteller):' %><br />    
		<%= f.text_area :info, :rows => 6 %>
 	</blockquote>
	<%= f.hidden_field :belongs_to_item_id, :value => params[:belongs_to_item_id] %>
  <div class="actions">
    <%= f.submit "Plaats reactie" %>
  </div>
<% end %>
