%ul.nav-bar.vertical
  %li{class: (request.path == projects_path) ? "active" : ""}
    = link_to "Kalender", projects_path
  %li{class: (request.path == "/wishlist") ? "active" : ""}
    = link_to "Verlanglijstje", "/wishlist"
  %li{class: (request.path == profile_available_dates_path(current_user)) ? "active" : ""}
    = link_to "Mijn beschikbaarheid", profile_available_dates_path(current_user)
  %li{class: (request.path == initiative_path) ? "active" : ""}
    = link_to "Over deze Bucket Line", initiative_path

- if current_user.initiative_admin(@initiative)
  %ul.nav-bar.vertical
    %li{class: (request.path == "/initiative/edit") ? "active" : ""}
      = link_to "Bucket Line instellingen", "/initiative/edit"
    %li{class: (request.path == "/profiles") ? "active" : ""}
      = link_to "Deelnemers beheer", "/profiles"
    %li{class: (request.path == "/all_available_dates") ? "active" : ""}
      = link_to "Alle beschikbaarheid", "/all_available_dates"
    %li{class: (request.path == "/links") ? "active" : ""}
      = link_to "Alle bijdragen", "/links"      