.interior-header
  .row
    .large-4.columns
      .title-text.white-text.hide-for-small
        #{@initiative.name}
    
    .large-8.columns
      %ul.inline-list
        %li
          = link_to "Home", initiative_path,class: get_active("home")
        %li
          = link_to "Kalender", projects_path, class: get_active("calendar")
        %li
          = link_to "Verlanglijstje", "/wishlist", class: get_active("dashboard")
        - if current_user.initiative_admin(@initiative)  
          %li.admin-initiative-menu
            %a{href:"#", 'data-dropdown' => "drop1", 'data-options' => "is_hover:true", class: (request.path == "/initiative/edit" || request.path == "/profiles" || request.path == "/all_available_dates" || request.path == "/links") ? "active" : ""} Admin
            %ul#drop1.f-dropdown{'data-dropdown-content' => ""}
              %li
                = link_to "Bucket Line instellingen", "/initiative/edit"
              %li
                = link_to "Deelnemers beheer", "/profiles"
                
      / - if current_user.initiative_admin(@initiative)
      /   %ul.inline-list.admin
      /     %li
      /       = link_to "Bucket Line instellingen", "/initiative/edit", class: (request.path == "/initiative/edit") ? "active" : ""
      /     %li
      /       = link_to "Deelnemers beheer", "/profiles", class: (request.path == "/profiles") ? "active" : ""
      /     %li
      /       = link_to "Alle beschikbaarheid", "/all_available_dates", class: (request.path == "/all_available_dates") ? "active" : ""
      /     %li
      /       = link_to "Alle bijdragen", "/links", class: (request.path == "/links") ? "active" : ""