- content_for :header do
  .interior-header
    .row
      .large-12.columns
        .title-text.white-text.hide-for-small
          Uitnodiging accepteren
 

%h4 Stel je wachtwoord in om de uitnodiging te accepteren en lid te worden van Bucket Line

= form_for @user, :url => register_user_via_invitation_path, :html => {:class => "form-horizontal"} do |f|

  - if @user.errors.any?
    #error_explanation
      %h6.alert
        = @user.errors.count.to_s + " fouten:"

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg       

  = f.label "Naam"
  = f.text_field :name
  = f.label "Nieuw wachtwoord"
  = f.password_field :password
  = f.hidden_field :email, :value => @invitation.email
  = f.hidden_field :invited, :value => true
  = f.label "Nieuw wachtwoord bevestigen"
  = f.password_field :password_confirmation
  .terms
    = f.check_box :terms_and_conditions_accepted
    = raw(t('shared.accept_tac', :tac_link => link_to(t('shared.user_privacy'), terms_and_conditions_url)))
  = f.submit "accepteren", :class=>"button"