<% content_for :header do %>
  <h1>Uitnodiging accepteren</h1>
  <h4 class="subheader">Stel je wachtwoord in om de uitnodiging te accepteren en lid te worden van Bucket Line</h4>
<% end %>

<div class="row">
  <div class="four columns">
    <%= form_for @user, :url => register_user_via_invitation_path, :html => {:class => "form-horizontal"} do |f| %>

	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this initiative from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

      <%= f.label "Naam" %>
      <%= f.text_field :name %>
      <%= f.label "Nieuw wachtwoord" %>
      <%= f.password_field :password %>
      <%= f.hidden_field :email, :value => @invitation.email %>
      <%= f.hidden_field :invited, :value => true %>
      <%= f.label "Nieuw wachtwoord bevestigen" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Accepteren", :class=>"button" %>
    <% end %>
  </div>
</div>