<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>Beste <%= @name.present? ? @name : "Heer, Mevrouw" %>,

    <p> De komende tijd kan <%= @patient_name %> wel wat hulp gebruiken. Middels Bucket Line kunnen mensen in een persoonlijke noodsituatie, bijvoorbeeld door ziekte, gemakkelijk mensen om zich heen mobiliseren. Bijvoorbeeld om te helpen met kleine klussen die nu ineens veel moeite kosten.</p>

    <p>U bent een goede bekende van <%= @patient_name %> en hij/zij heeft u aangewezen als buddy om de organisatie van een Bucket Line op u te nemen.<p>

    <p>Klik op onderstaande link om uw account te valideren en vrienden, familie of kennissen uit te nodigen.</p>

    <p><%= link_to 'Uitnodiging accepteren', @invitation_url %></p>

    <p>Heeft u dit gedaan, dan kunt u starten met het organiseren van hulpvragen</p>

    <p>Vriendelijke groet,</p>

    <p><%= @inviter %></p>
    
  </body>
</html>