<%= form_for([@initiative, @project], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@project.errors.count, "error") %>:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="control-group">
		<%= f.label 'Titel:', :class => "control-label" %>
		<div class="controls"> 
			<%= f.text_field :query %>
		</div>
 	</div>
	<% if params[:year] %>
		<% pre_select_date = Time.mktime(params[:year], params[:month], params[:day]).to_date %>
	<% else %>
		<% pre_select_date = Date.today %>
	<% end %>
	<div class="date-selector control-group">
		<%= f.label 'Datum:', :class => "control-label" %> 
		<div class="controls"> 
			<%= f.date_select(:input_date, {:default => pre_select_date}, {:class => "project_date"})%>
		</div>
 	</div>
	<div class="time-selector control-group">
		<%= f.label 'Begin:', :class => "control-label" %> 
		<div class="controls"> 
			<%= f.time_select(:input_start_at, :minute_step => 15) %>
		</div>
 	</div>
	<div class="time-selector control-group">
		<%= f.label 'Einde:', :class => "control-label" %> 
		<div class="controls"> 
			<%= f.time_select(:input_end_at, :minute_step => 15) %>
		</div>
 	</div>
	<div class="field control-group">
		<%= f.label "Verzamel locatie:", :class => "control-label" %>
		<div class="controls"> 
			<%= f.select(:location, [["Thuis", "Thuis"], ["Elders (zie opmerkingen)", "Elders (zie opmerkingen)"]]) %>
		</div>
	</div>
	<div class="field control-group">
		<%= f.label "Contactpersoon:", :class => "control-label" %>
		<div class="controls"> 
			<%= collection_select(:project, :owner_id, @admins, :id, :email, {:selected => current_user.id}) %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label 'Opmerkingen:', :class => "control-label" %> 
		<div class="controls"> 
			<%= f.text_area :remark, :rows => 4 %>
		</div>
 	</div>
  <div class="control-group">
		<div class="controls">
			<label class="checkbox">
		    <%= f.check_box :success %>
		    Project is succesvol afgerond.
			</label>
		</div>
  </div>

	<hr>

  <%= f.fields_for :items do |builder| %>
		<%= render "item_fields", :f => builder %>
	<% end %>

	<p><%= link_to_add_fields "Extra benodigdheid toevoegen", f, :items %></p>

  <div class="form-actions" style="padding-left:20px;">
    <%= f.submit "Project en items opslaan", :class => "btn btn-primary" %>
  </div>
<% end %>
