<blockquote class="fields smaller-font">
	<p>
		<div>
			<%= f.label :name, "Benodigdheid:" %>
			<%= f.text_field :name %>
 		</div>
		<div>
			<%= f.label :type, "Type:" %>
			<%= f.select :type, [['Handjes', 'help'],['Gereedschappen', 'tool'],['Materiaal','material']] %>
 		</div>
		<div>
			<%= f.label :amount, "Aantal:" %>    
			<%= f.text_field :amount %>
 		</div>
		<% if params[:year] %>
			<% pre_select_date = Time.mktime(params[:year], params[:month], params[:day]).to_date %>
		<% else %>
			<% pre_select_date = Date.today %>
		<% end %>
		<div class="date-selector">
			<%= f.label 'Nodig van:' %> 
			<%= f.date_select :start_at, :default => pre_select_date %>
	 	</div>
		<div class="date-selector">
			<%= f.label 'Tot en met:' %> 
			<%= f.date_select :end_at, :default => pre_select_date %>
	 	</div>
		<div class="field">
			<%= f.label "Selecteer dagdelen" %>
			<%= f.select(:daypart, [["Ochtend", "Ochtend"], ["Middag", "Middag"], ["Avond", "Avond"], ["Nacht", "Nacht"]], {}, {:multiple => true}) %>
		</div>
	</p>
	<p>
		<%= link_to_remove_fields "Verwijder benodigdheid", f %>
	</p>
</blockquote>
<hr>	

