<blockquote class="fields smaller-font">
	<p>
		<div>
			<%= f.label :name, "Benodigdheid:" %>
			<%= f.text_field :name %>
 		</div>
		<div>
			<%= f.label :type, "Type:" %>
			<%= f.select :type, [['Handjes', 'help'],['Gereedschappen', 'tool'],['Materiaal','material']] %>
 		</div>
		<div>
			<%= f.label :amount, "Aantal:" %>    
			<%= f.text_field :amount %>
 		</div>
		<div class="date-selector">
			<%= f.label 'Nodig van:' %> 
			<%= f.date_select :start_at %>
	 	</div>
		<div class="date-selector">
			<%= f.label 'Tot en met:' %> 
			<%= f.date_select :end_at %>
	 	</div>
		<div class="field">
			<%= f.label "Selecteer dagdelen" %>
			<%= f.select(:daypart, [["Ochtend", "Ochtend"], ["Middag", "Middag"], ["Avond", "Avond"], ["Nacht", "Nacht"]], {}, {:multiple => true}) %>
		</div>
	</p>
	<p>
		<%= link_to_remove_fields "Verwijder benodigdheid", f %>
	</p>
</blockquote>
<hr>	

