<blockquote class="fields smaller-font">
	<p>
		<div class="control-group">
			<%= f.label :name, "Benodigdheid:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.text_field :name %>
			</div>
 		</div>
		<div class="control-group">
			<%= f.label :type, "Type:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.select :type, [['Handjes', 'help'],['Gereedschappen', 'tool'],['Materiaal','material']] %>
			</div> 
		</div>
		<div class="control-group">
			<%= f.label :amount, "Aantal:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.text_field :amount %>
			</div>
 		</div>
	</p>
	<div class="control-group">
		<%= link_to_remove_fields "Verwijder benodigdheid", f %>
	</div>
</blockquote>
<hr>	

