- content_for :header do
  = render :partial => "shared/sub_nav" 

= hidden_field_tag "initiativeAdmin", current_user.initiative_admin(@initiative) 

.row
  .small-12.columns
    - if @initiative.projects.count == 0
      - if current_user.initiative_admin(@initiative)
        = alert("Er zijn nog geen taken in de kalender geplaatst. Klik op een dag om een taak te plaatsen.","",true)
      - else
        = alert("Er zijn nog geen taken in de kalender geplaatst. Een beheerder moet eerst een taak plaatsen voor je kunt bijdragen.","",true)

#projectCalendar
  = render partial: 'shared/calendar', locals: {year: @year, month: @month, events: @events_hash}

#itemModal.reveal-modal