<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to "Bekijk per project", projects_path %></li>
			<li><%= link_to "Bekijk over tijd", calendar_path %></li>
		</ul>	</div>
</div>
<div class="row">
	<div class="span4">
		<h3>Handjes</h3>
		<%= render :partial => "item", :collection => @help %>
	</div>
	<div class="span4">
		<h3>Gereedschap</h3>
		<%= render :partial => "item", :collection => @tools %>
	</div>
	<div class="span4">
		<h3>Materiaal</h3>
		<%= render :partial => "item", :collection => @materials %>
	</div>
</div>

