<h2>Overzicht van alle bijdragen</h2>
<p>Voor bijdragen van vandaag of later, geordend per project. <%= link_to "Toon ook projecten en bijdragen van voor vandaag.", :controller => "links", :action => "index", :show => "all" %></p>
<div id="accordion3" class="accordion">
	<% @projects.each do |project| %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href=<%= "#" + project.id.to_s %> data-parent="#accordion3" data-toggle="collapse"><%= project.query %></a>
			</div>
			<div id=<%= project.id.to_s %> class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					<table class="admin-table table table-bordered table-striped">
						<tr>
							<th>Bijdrage</th>
							<th>Aantal voorzien</th>
							<th>Datum</th>
							<th>Begintijd</th>		
							<th>Eindtijd</th>		
							<th>Naam</th>		
							<th>Email</th>
							<th></th>		
						</tr>

						<% project.items.each do |item| %>
							<% item.links.each do |link| %>
								<tr>
									<td><%= link.item.name %></td>
									<td><%= link.amount %> van <%= link.item.amount %></td>
									<td><%= pretty_date(Item.find(link.item_id).project.start_at) %></td>
									<td><%= pretty_time(Item.find(link.item_id).project.start_at) %></td>
									<td><%= pretty_time(Item.find(link.item_id).project.end_at) %></td>
									<td><%= link.profile.user.name %></td>
									<td><%= link.profile.user.email %></td>
									<td><%= link_to "bijdrage weigeren", remove_item_from_profile_path(link.profile_id, link.item_id) + "?redirect_to_links=true", :confirm => "Weet je zeker dat je deze bijdrage wilt weigeren? Zo ja, dan kan het goed zijn om nu nog even het mailadres te noteren, zodat je nog een mail kunt sturen." %></td>
								</tr>
							<% end %>
						<% end %>	
					</table>
				</div>
			</div>
		</div>
	<% end %>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href=<%= "#no-project" %> data-parent="#accordion3" data-toggle="collapse">Bijdragen aan verlanglijstje</a>
		</div>
		<div id="no-project" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<table class="admin-table table table-bordered table-striped">
					<tr>
						<th>Bijdrage</th>
						<th>Aantal voorzien</th>
						<th>Naam</th>		
						<th>Email</th>
						<th></th>		
					</tr>
					<% @loose_items.each do |item| %>
						<% item.links.each do |link| %>
							<tr>
								<td><%= link.item.name %></td>
								<td><%= link.amount %> van <%= link.item.amount %></td>
								<td><%= link.profile.user.name %></td>
								<td><%= link.profile.user.email %></td>
								<td><%= link_to "bijdrage weigeren", remove_item_from_profile_path(link.profile_id, link.item_id) + "?redirect_to_links=true", :confirm => "Weet je zeker dat je deze bijdrage wilt weigeren? Zo ja, dan kan het goed zijn om nu nog even het mailadres te noteren, zodat je nog een mail kunt sturen." %></td>
							</tr>
						<% end %>	
					<% end %>
				</table>
			</div>
		</div>
	</div>

</div>
