<h2>Inloggen</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label "Wachtwoord" %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "Onthoud mij" %></div>
  <% end -%>

  <div><%= f.submit "Inloggen" %></div>
<% end %>

<%= render "links" %>
