- content_for :header do
  .interior-header
    .row
      .large-4.columns
        .title-text.white-text.hide-for-small
          Inloggen
 
.four.columns
  / .login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
    = f.label :email, :class => "control-label"
    = f.email_field :email
    = f.label "Wachtwoord", :class => "control-label"
    = f.password_field :password
    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        %span.custom.checkbox
        Onthoud mij
    .controls
      = f.submit "Inloggen", :class => "button"

    .terms.small-text * #{raw(t('shared.accept_tac', :tac_link => link_to(t('shared.user_privacy'), terms_and_conditions_url + "?fancybox=true", :class => "fancybox")))}

  .login-links
    = render "links"
  / .last{:style => "display:none"}
  /   %p.fb-login
  /     Of:
  /     %br= link_to 'Log in met facebook', '/auth/facebook/', :class=> "btn btn-primary"
