<%= form_for(@item, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@item.errors.count, "error") %>:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<div class="control-group">
			<%= f.label :name, "Benodigdheid:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.text_field :name %>
			</div>
 		</div>
		<div class="control-group">
			<%= f.label :description, "Korte toelichting:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.text_area :description, :rows => 2 %>
			</div>
 		</div>
		<div class="control-group">
			<%= f.label :type, "Type:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.select :type, [['Vervoer', 'vervoer'],['In en om het huis', 'in en om het huis'],['Oppas en gezelschap','oppas en gezelschap'],['Boodschappen en koken','boodschappen en koken']] %>
			</div> 
		</div>
		<div class="control-group">
			<%= f.label :amount, "Aantal:", :class => "control-label" %>
			<div class="controls"> 
				<%= f.text_field :amount %>
			</div>
 		</div>
 		<div class="field control-group">
			<%= f.label "Contactpersoon:", :class => "control-label" %>
			<div class="controls"> 
				<%= collection_select(:item, :owner_id, @admins, :id, :email, {:selected => current_user.id}) %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
			    <%= f.check_box :success %>
			    Item is geleverd
				</label>
			</div>
		</div>

		<div class="form-actions" style="padding-left:20px;">
		  <%= f.submit "Item plaatsen", :class => "btn btn-primary" %>
		</div>
	</p>
<% end %>
