<%= form_for [@question, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div>
		<%= f.label 'Omschrijving:' %><br />    
		<%= f.text_field :name %>
 	</div>
	<div>
		<%= f.label 'Aantal:' %><br />    
		<%= f.text_field :amount %>
 	</div>
	<div class="date-selector">
		<%= f.label 'Begin:' %> 
		<%= f.datetime_select :start_at %>
	</div>
	<div class="date-selector">
		<%= f.label 'Einde:' %> 
		<%= f.datetime_select :end_at %>
	</div>
	<div>
		<%= f.label 'Nodig op locatie:' %> 
		<%= f.text_field :location %>
 	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
