<div class="well">
	<% if item.provided %>
		<p><%= item.name %></p>
		<small><%= item.location %>, <%= item.start_at.to_s %> - <%= item.end_at.to_s %> - Deze bijdrage is al voorzien</small>
	<% else %>
		<%= form_tag project_item_path(item.project, item), :method => "put", :class=>"item-form" do %>			
			<h3><%= item.name %>, nog <%= item.amount.to_s %> te gaan</h3>
			<p class="item-details">- <%= item.location %>, <%= item.start_at.ctime.to_s %> - <%= item.end_at.ctime.to_s %></p>
			<p>Aantal: <%= text_field_tag 'amount_to_give', 1, :class => "amount-input" %> <%= submit_tag "Dit wil ik bijdragen!" %></p>
		<% end %>
	<% end %>
	<% if user_signed_in? %>
		<%= link_to "Bijbehorende project bewerken", edit_project_path(item.project) %>
	<% end %>
</div>

