<div class = "well" >
	<% if current_user && item.providing_user(current_user) %>
		<i class="icon-gift pull-right gift-margin"></i>
	<% end %>
	<% if !item.provided %>
		<%= form_tag initiative_project_item_path(@initiative, item.project, item), :method => "put", :class=>"item-form" do %>			
			<span class="label label-important pull-right">Nog <%= item.items_left.to_s %> nodig</span>
			<h3><%= item.name %></h3>
			<p>Project: <%= item.project.query %></p>

			<% if user_signed_in? %>
				<p>Aantal: <%= text_field_tag 'amount_to_give', 1, :class => "amount-input" %> <%= submit_tag "Dit wil ik bijdragen!", :class => "btn" %></p>
				<%= hidden_field_tag :redirect_to_dashboard, true %>
			<% else %>
				<p><%= link_to "Log in", login_path %> of <%= link_to "meld je aan", new_user_registration_path %> om bij te dragen</p>
			<% end %>
		<% end %>
	<% else %>
			<span class="label label-inverse pull-right">Voorzien</span>
			<h3><%= item.name %></h3>
			<p>Project: <%= item.project.query %>.<br><%= get_contributors(item) %></p>
	<% end %>
	<% if current_user && current_user.admin %>
		<%= link_to "Bijbehorende project bewerken", edit_initiative_project_path(@initiative, item.project) %>
	<% end %>
</div>

