<%= link_to items_info_path, :class => "fancybox" do %>
	<%= image_tag "help.png", :class => "help-icon" %>
<% end %>
<% if current_user && current_user.admin %>
	<div class="row">
		<div class="span12">
			<%= link_to 'Plaats nieuw item op verlanglijstje', :controller => :items, :action => :new %>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span4">
		<h2>Handjes</h2>
		<%= render :partial => "item", :collection => @help %>
	</div>
	<div class="span4">
		<h2>Gereedschap</h2>
		<%= render :partial => "item", :collection => @tools %>
	</div>
	<div class="span4">
		<h2>Materiaal</h2>
		<%= render :partial => "item", :collection => @materials %>
	</div>
</div>

