<%= link_to items_info_path, :class => "fancybox" do %>
	<%= image_tag "help.png", :class => "help-icon" %>
<% end %>
<div class="row">
	<div class="span12">
		<p>Op deze pagina vind je ons verlanglijstje. Dit is een lijst van benodigdheden die niet bij een specifiek project op een bepaalde datum horen, maar die we juist doorlopend nodig hebben.</p>
	</div>
</div>
<% if current_user && current_user.admin %>
	<div class="row">
		<div class="span12">
			<%= link_to 'Plaats nieuw item op verlanglijstje', new_initiative_item_path(@initiative) %><br>
			<%= link_to 'Toon ook de afgeronde items', initiative_dashboard_path(@initiative) + "?show_all_items=true" %> 
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span4">
		<h2>Handjes</h2>
		<%= render :partial => "item", :collection => @help %>
	</div>
	<div class="span4">
		<h2>Gereedschap</h2>
		<%= render :partial => "item", :collection => @tools %>
	</div>
	<div class="span4">
		<h2>Materiaal</h2>
		<%= render :partial => "item", :collection => @materials %>
	</div>
</div>

