<h2><%= @question.query %></h2>

<p>Benodigdheden voor deze vraag</p>

<div>
	<ul class="unstyled">
	<% @items.each do |item| %>
		<li>
			<blockquote <%= if params[:highlight] == item.id.to_s then "class='highlight'" end %> >
				<% if item.provided %>
					<p><%= item.name %></p>
					<small><%= item.location %>, <%= item.start_at.to_s %> - <%= item.end_at.to_s %> - Deze bijdrage is al voorzien</small>
				<% else %>
					<%= form_tag question_item_path(@question, item), :method => "put" do %>
						<p>Aantal te geven:</p>
						<%= text_field_tag 'amount_to_give' %>			
						<p><%= item.name %>, <%= item.amount.to_s %>x</p>
						<small><%= item.location %>, <%= item.start_at.ctime.to_s %> - <%= item.end_at.ctime.to_s %></small>
						<%= submit_tag "Dit wil ik bijdragen!" %>
					<% end %>
				<% end %>
			</blockquote>
		</li>
	<% end %>
	</ul>
</div>

<% if user_signed_in? %>
	<%= link_to 'Vraag of items bewerken', edit_question_path(@question) + "?type=" + @question.type %>
<% end %>
