<div>
	<%= @project.start_at.to_s %> - <%= @project.end_at.to_s %><%= get_dayparts(@project) %>
	<h2><%= @project.query %></h2>
	<%= @project.remark %>
</div><br>

<p>Benodigdheden voor dit project:</p>

<div>
	<ul class="unstyled">
	<% @items.each do |item| %>
		<li>
			<blockquote>
				<% if item.provided %>
					<p><%= item.translate_type %>: <%= item.name %></p>
					<small>Nodig van <%= item.start_at.to_s %> tot en met <%= item.end_at.to_s %><%= get_dayparts(item) %><br>Deze bijdrage is al voorzien.</small>
				<% else %>
					<%= form_tag project_item_path(@project, item), :method => "put" do %>			
						<p><%= item.translate_type %>: <%= item.name %>, nog <%= item.items_left.to_s %> te gaan</p>
						<small>Nodig van <%= item.start_at.to_s %> tot en met <%= item.end_at.to_s %><%= get_dayparts(item) %>.</small>
						<% if user_signed_in? %>
							Aantal: <%= text_field_tag 'amount_to_give', 1, :class => "amount-input" %> <%= submit_tag "Dit wil ik bijdragen!" %>
						<% else %>
							Log in of meld je aan om bij te dragen
						<% end %>
					<% end %>
				<% end %>
			</blockquote>
		</li>
	<% end %>
	</ul>
</div>

<% if current_user && current_user.admin %>
	<%= link_to 'Project of items bewerken', edit_project_path(@project) %><br>
	<%= link_to 'Project verwijderen', project_path(@project), :method => :delete, :confirm => "Weet je zeker dat je dit project wilt verwijderen? Alle benodigdheden worden dan ook verwijderd" %>
<% end %>
