.row
  .small-12.columns
    %h2
      = @project.query
      = " (afgerond)" if @project.success
    %h2.subheader
      %small= pretty_date(@project.start_at)

    %dl
      - if current_user && !@owner_profile.nil?
        %dt Contactpersoon:
        %dd #{@owner.name} (email: #{@owner.email}, tel: #{@owner.profile.phone})
      - if !@project.location.nil? && !@project.location.empty?
        %dt Verzamel locatie:
        %dd= @project.location
      - if !@project.remark.nil? && !@project.remark.empty?
        %dt Opmerkingen:
        %dd= @project.remark

.row
  .small-12.columns
    - @items.each do |item|
      .panel
        %h3
          = item.name + " (" + item.type + ")"
          .item-icons
            //SUCCES & GIFT Icons
            - if current_user && @project.success
              %i.green.general.foundicon-checkmark{title: "Afgevinkt"}
            - if current_user && item.providing_user(current_user)
              %i.red.general.foundicon-heart{title: "Jij draagt hieraan bij"}
            //EDIT / DELETE ICONS FOR ADMINS
            - if current_user && current_user.initiative_admin(@initiative)
              = link_to edit_project_path(@project), :title => "Project bewerken" do
                %i.general-enclosed.foundicon-settings{title: "Project bewerken"}

        // ITEM PROVIDED OR NOT MESSAGE
        - if !@project.success && !item.provided
          %span.round.label
            Nog #{item.items_left.to_s} nodig
        - elsif !@project.success
          %span.success.round.label Voorzien
        // ITEM INFO
        .item-info
          %p= item.description
          .item-more-info
            - contributors = get_contributors(item)
            - if !contributors.empty?
              %p
                %strong Bijdragen van:
                %br/
                = contributors

        // BIJDRAGE: Afgevinkt / Bijdragen / Login
        - if !item.provided && user_signed_in?
          - if @project.success
            %button{disabled: "true"} Project afgevinkt
          - else
            = form_tag item_path(item), :method => "put", :class=>"item-form" do
              %div
                %p.left Aantal:
              %div
                = text_field_tag 'amount_to_give', 1, :class => "amount-input"
                = submit_tag "Dit wil ik bijdragen!", :class => "small button", :onclick => "_gaq.push(['_trackEvent', 'Project', 'Contribution']);"
        - elsif !item.provided
          %p
            = link_to "Log in", login_path
            of #{link_to "meld je aan", new_user_registration_path} om bij te dragen


        // BIJDRAGE INTREKKEN
        - if current_user && item.providing_user(current_user)
          = button_to "Bijdrage intrekken", remove_item_from_profile_path(current_user.profile, item) + "?redirect_to_calendar=true", :confirm => "Weet je zeker dat je deze bijdrage wilt intrekken?", :class => "small button", :method => :get, :onclick => "_gaq.push(['_trackEvent', 'Project', 'Retraction']);"
        - if @initiative.user_is_admin?(current_user)
          %small= link_to "verwijder", item_path(item), confirm: 'Weet je zeker dat je deze klus wilt verwijderen? Dit kan niet ongedaan gemaakt worden!', method: :DELETE

    - if current_user && @initiative.user_is_admin?(current_user)
      %ul.inline-list
        %li= link_to 'Klus verwijderen', project_path(@project), :method => :delete, :confirm => "Weet je zeker dat je deze klus wilt verwijderen? Alle benodigdheden worden dan ook verwijderd. De mensen die hebben bijgedragen krijgen automatisch bericht.", :onclick => "_gaq.push(['_trackEvent', 'Project', 'Cancellation']);"
        %li= link_to "Bewerken", edit_project_path(@project)
      %p Kopiëerbare lijst met alle adressen van de bijdragers voor dit project:
      %sub
        %b Let op:
        zet deze adressen om privacy redenen alleen in de 'bcc' van de email.
      = text_field_tag "emails", build_emails_for_copy(@contributing_users), :style => "width:95%;"

%a.close-reveal-modal &#215;
