<h2><%= @question.query %></h2>

<p>Benodigdheden voor deze vraag</p>

<div>
	<ul class="unstyled">
	<% @items.each do |item| %>
		<li>
			<blockquote>
				<% if item.provided %>
					<p><%= item.name %></p>
					<small><%= item.start_at.to_s %> - <%= item.end_at.to_s %> - Dit item is al gegeven</small>
				<% else %>
					<%= form_for [@question, item] do |f| %>
						<%= f.hidden_field :provided, :value => true %>			
						<p><%= item.name %></p>
						<small><%= item.start_at.ctime.to_s %> - <%= item.end_at.ctime.to_s %></small>
						<%= f.submit "Dit wil ik bijdragen!" %>
					<% end %>
				<% end %>
			</blockquote>
		</li>
	<% end %>
	</ul>
</div>

<% if user_signed_in? %>
	<%= link_to 'Vraag of items bewerken', edit_question_path(@question) + "?type=" + @question.type %>
<% end %>
