<div>
	<h2>Project: <%= @project.query %></h2>
	Project loopt van: <%= pretty_date(@project.start_at) %> tot en met <%= pretty_date(@project.end_at) %><%= get_dayparts(@project) %>.<br>
	Opmerkingen: <%= @project.remark %>
</div><br>

<strong>Benodigdheden voor dit project:</strong>

<div>
	<ul class="unstyled">
	<hr>
	<% @items.each do |item| %>
		<li>
			<blockquote>
				<% if item.provided %>
					<span class="label label-inverse pull-right">Voorzien</span>
					<p><i class=<%= get_icon(item) %> ></i> <%= item.name %></p>
					<small>Nodig van <%= pretty_date(item.start_at) %> tot en met <%= pretty_date(item.end_at) %><%= get_dayparts(item) %>. <%= get_contributors(item) %></small>
				<% else %>
					<%= form_tag project_item_path(@project, item), :method => "put" do %>			
						<span class="label label-important pull-right">Nog <%= item.items_left.to_s %> nodig</span>
						<p><i class=<%= get_icon(item) %> ></i> <%= item.name %></p>
						<small>Nodig van <%= pretty_date(item.start_at) %> tot en met <%= pretty_date(item.end_at) %><%= get_dayparts(item) %>. <%= get_contributors(item) %></small>
						<% if user_signed_in? %>
							Aantal: <%= text_field_tag 'amount_to_give', 1, :class => "amount-input" %> <%= submit_tag "Dit wil ik bijdragen!", :class => "btn" %>
						<% else %>
							<%= link_to "Log in", login_path %> of <%= link_to "meld je aan", new_user_registration_path %> om bij te dragen.
						<% end %>
					<% end %>
				<% end %>
			</blockquote>
			<hr>
		</li>
	<% end %>
	</ul>
</div>

<% if current_user && current_user.admin %>
	<%= link_to 'Project of items bewerken', edit_project_path(@project) %><br>
	<%= link_to 'Project verwijderen', project_path(@project), :method => :delete, :confirm => "Weet je zeker dat je dit project wilt verwijderen? Alle benodigdheden worden dan ook verwijderd." %>
<% end %>
