= form_for @bucket_group do |f|
  .row
    .small-12.large-6.columns
      
      = f.label :name
      = f.text_field :name

      = f.label :description
      = f.text_field :description
      
      = f.submit class: "button"