<%= form_for([@profile, @available_date]) do |f| %>
  <% if @available_date.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@available_date.errors.count, "error") %>:</h2>

      <ul>
      <% @available_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="daypart-selection">
    <p>Selecteer dagdelen</p>

      <% #<p><sub>(Houd ctrl ingedrukt om meerdere te selecteren)</sub></p> %>
      <% # f.select(:daypart, [["Ochtend", "Ochtend"], ["Middag", "Middag"], ["Avond", "Avond"], ["Nacht", "Nacht"]], {}, {:multiple => true}) %>

  	<div class="field">
      <%= f.check_box :morning %> Ochtend
  	</div>
    <div class="field">
      <%= f.check_box :afternoon %> Middag
    </div>
    <div class="field">
      <%= f.check_box :evening %> Avond
    </div>
    <div class="field">
      <%= f.check_box :night %> Nacht
    </div>
    <br>

    <% if request.path_parameters[:action] == "new" %> 
    	<% pre_select_date = Time.mktime(params[:year], params[:month], params[:day]).to_date %>
      <div>
        <%= f.hidden_field :date, :value => pre_select_date %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Opslaan", :class => "button" %>
    </div>
  </div>
<% end %>
