<%= form_for([@profile, @available_date]) do |f| %>
  <% if @available_date.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@available_date.errors.count, "error") %>:</h2>

      <ul>
      <% @available_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<h2>Selecteer dagdelen</h2>
		<p><sub>(Houd ctrl ingedrukt om meerdere te selecteren)</sub></p>
		<%= f.select(:daypart, [["Ochtend", "Ochtend"], ["Middag", "Middag"], ["Avond", "Avond"], ["Nacht", "Nacht"]], {}, {:multiple => true}) %>
	</div>

	<% pre_select_date = Time.mktime(params[:year], params[:month], params[:day]).to_date %>
  <div>
    <%= f.hidden_field :date, :value => pre_select_date %>
  </div>

  <div class="actions">
    <%= f.submit "Opslaan" %>
  </div>

	<p><sub>Ochtend: 9:00 - 12:00; middag: 12:00 - 17:00;<br>avond: 17:00 - 21:00; nacht: 21:00 - 0:00.</sub></p>
<% end %>
