<h2>Admin overzicht</h2>
<table class="admin-table table table-bordered table-striped">
	<tr>
		<th>Naam</th>
		<th>Datum</th>
		<th>Dagdelen</th>
		<th>Expertise</th>		
		<th>Kan helpen met</th>		
		<th>Gereedschappen en materialen</th>		
		<th>Email</th>		
	</tr>
	<% @available_dates.each do |date| %>
		<tr>
			<td><%= date.profile.name %></td>
			<td><%= pretty_date(date.date) %></td>
			<td><%= build_daytext(date) %></td>
			<td><%= date.profile.expertise %></td>
			<td><%= date.profile.willing_to_help_with %></td>
			<td><%= date.profile.tools_and_materials %></td>
			<td><%= date.profile.user.email %></td>
		</tr>
	<% end %>	
</table>

