<h3>Info</h3>
<p>Start datum: <%= @date.start_at.to_s %><br>
Eind datum: <%= @date.start_at.to_s %><br>
Naam: <%= @profile.name %><br>
Expertise: <%= @profile.expertise %><br>
Email: <%= @user.email %></p>
