%footer
  .row
    .small-10.columns
      .row
        .small-12.columns
          %ul.inline-list
            %li
              %a{href:"http://www.bucketline.nl"} Home
            %li
              %a{href:"http://www.bucketline.nl/eerstelijns-zorgorganisaties"} Voor 1e-lijns organisatie
            %li
              %a{href:"http://www.bucketline.nl/voor-mantelzorgers/"} Voor Mantelzorgers
            %li
              = link_to "Preventief netwerk opzetten", new_unregistered_bucket_groups_path
              / %a{href:"http://www.bucketline.nl/?page_id=50"} Preventief netwerk opzetten
            %li
              %a{href:"http://www.bucketline.nl/contact/"} Contact
            - unless user_signed_in?
              %li
                = link_to "Inloggen", login_path
      .row
        .small-12.columns
          %sub
            \&copy;
            %a{:href => "http://www.dreamyourweb.nl", :target => "_blank"} dreamyourweb
            = Date.today.year.to_s + "."
            = link_to t('footer.privacy'), terms_and_conditions_url

    .small-2.columns
      = image_tag "logo_footer.png"