<% if @initiative && request.path_parameters[:controller] != "initiatives" %>
	<ul class="nav nav-tabs">
		<li class=<%= get_active("calendar") %> ><%= link_to "Kalender", initiative_projects_path(@initiative) %></li>
		<li class=<%= get_active("dashboard") %> ><%= link_to "Verlanglijstje", initiative_dashboard_path(@initiative) %></li>
		<% if user_signed_in? %>
			<li class=<%= get_active("profile") %> ><%= link_to "Mijn profiel en bijdragen", profile_path(current_user.profile) %></li>
			<li class=<%= get_active("availability") %> ><%= link_to "Mijn beschikbaarheid", profile_available_dates_path(current_user.profile) %></li>
			<% if current_user.initiative_admin(@initiative) %>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class=<%= get_active("availability_dashboard") %> ><%= link_to "Beschikbare specialisten", profile_availability_dashboard_path(current_user.profile) %></li>
						<li class=<%= get_active("links") %> ><%= link_to "Alle bijdragen", initiative_links_path(@initiative) %></li>
						<li class=<%= get_active("profiles") %> ><%= link_to "Deelnemers beheren", initiative_profiles_path(@initiative) %></li>
						<% if current_user.super_admin %>
							<li class=<%= get_active("messages") %> ><%= link_to "Feedback berichten", messages_path %></li>
							<li class=<%= get_active("all_profiles") %> ><%= link_to "Alle gebruikers", all_profiles_path %></li>
						<% end %>	
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul>
<% else %>
	<% if current_user && current_user.super_admin %>
		<ul class="nav nav-tabs">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<b class="caret"></b></a>
				<ul class="dropdown-menu">
						<li class=<%= get_active("messages") %> ><%= link_to "Feedback berichten", messages_path %></li>
						<li class=<%= get_active("all_profiles") %> ><%= link_to "Alle gebruikers", all_profiles_path %></li>
				</ul>
			</li>
		</ul>
	<% end %>	
<% end %>