.contain-to-grid.sticky
  %nav.top-bar
    
    .title-area
      %li.toggle-topbar.menu-icon
        %a{href: "#"} Menu

    %section.top-bar-section
      %ul.left
        - if user_signed_in?
          %li.name.has-dropdown
            %h1
              - if @initiative.present? and @initiative.name.present?
                = link_to @initiative.name, "#"
              - else
                = link_to "Mijn Bucket Lines", "#"
            %ul.dropdown
              - if current_user.user_roles.map{|ur| ur.initiative}.count > 0
                %li
                  %label Bucket Lines
                - current_user.user_roles.map{|ur| ur.initiative}.each do |initiative|
                  %li{class: get_active("messages")}
                    = link_to initiative.name, root_url(:subdomain => initiative.slug) 
              %li
                %label Preventieve Bucket Lines
                - current_user.bucket_groups.each do |bg|
                  %li{class: get_active("bucket_groups")}
                    = link_to bg.name, bucket_group_url(bg, subdomain: false)
        %li.divider
        - if current_user && current_user.super_admin
          %li.has-dropdown
            = link_to "Applicatie beheer", admin_initiatives_path
            %ul.dropdown
              %li{class: (request.path == admin_initiatives_path) ? "active" : ""}
                = link_to "Alle bucket lines", admin_initiatives_url(:subdomain => false)
              %li{class: (request.path == admin_bucket_groups_url) ? "active" : ""}
                = link_to "Alle preventieve Bucket Lines", admin_bucket_groups_url(:subdomain => false)
              %li{class: (request.path == admin_feedback_path) ? "active" : ""}
                = link_to "Feedback berichten", admin_feedback_url(:subdomain => false)
              %li{class: (request.path == admin_profiles_path) ? "active" : ""}
                = link_to "Alle gebruikers", admin_profiles_url(:subdomain => false)
        - elsif current_user && current_user.bucketline_creator_role
          %li.has-dropdown
            = link_to "Applicatie beheer", "#"
            %ul.dropdown              
              %li
                = link_to 'Nieuwe Bucket Line', new_initiative_path                
                = link_to 'Nieuwe Bucket Line voor Patient en Buddy', new_with_buddy_initiatives_url(subdomain: false)

        - if @initiative && request.path_parameters[:controller] != "initiatives"
          / %li{class: get_active("calendar")}
          /   = link_to "Kalender", initiative_projects_path(@initiative)
          / %li{class: get_active("dashboard")}
          /   = link_to "Verlanglijstje", initiative_dashboard_path(@initiative)

          / - if user_signed_in?
          /   %li{class: get_active("profile")}
          /     = link_to "Mijn profiel en bijdragen", profile_path(current_user.profile)
          /   %li{class: get_active("availability")}
          /     = link_to "Mijn beschikbaarheid", profile_available_dates_path(current_user.profile)
          /   -if current_user.initiative_admin(@initiative)
          /     %ul.drpodown
          /       %li{class: get_active("availability_dashboard")}
          /         = link_to "Beschikbare specialisten", initiative_availability_dashboard_path(@initiative)
          /       %li{class: get_active("links")}
          /         = link_to "Alle bijdragen", initiative_links_path(@initiative)
          /       %li{class: get_active("profiles")}
          /         = link_to "Deelnemers beheren", initiative_profiles_path(@initiative)
          /       - if current_user.super_admin
          /         %li{class: get_active("messages")}
          /           = link_to "Feedback berichten", messages_path
          /         %li{class: get_active("all_profiles")}
          /           = link_to "Alle gebruikers", all_profiles_path

      %ul.right
        %li.divider.hide-for-small
        - if user_signed_in?
          %li.has-dropdown
            = link_to current_user.email, profile_url(current_user.profile, :subdomain => false)#url_for(controller: 'profiles', action: 'show', id: current_user.profile.id,  subdomain: false)
            %ul.dropdown
              %li{class: get_active("profile")}
                = link_to "Mijn profiel", edit_profile_url(current_user.profile, :subdomain => false)
              / %li
              /   = link_to "Mijn bijdragen", profile_contribution_url(current_user.profile, :subdomain => false)
              %li
                = link_to "Mijn Instellingen", edit_user_registration_url(:subdomain => false)
              %li.divider
              %li
                = link_to "Uitloggen", logout_url(:subdomain => false), :class => "btn"
        - else
          %li
            = link_to "Inloggen", login_path
          %li
            =# link_to "Ik heb interesse", new_user_registration_path


