<!DOCTYPE html>
<html>
<head>
  <title>Huis van Overvloed | Sociale Overwaarde Verbinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= render :partial => "layouts/ga" %>
	<%= render :partial => "layouts/bugherd" %>
</head>
<body>
	<div class="container main">
		<br>
		<% flash.each do |key, value| %>
			<div class="alert">
			<a class="close" data-dismiss="alert">×</a>
				<%= content_tag(:div, value, :class => "site-flash #{key}") %>
			</div>
		<% end %>

		<% if current_user %>
			<div class="feedback">
				<%= link_to feedback_path, :class => "fancybox" do %>
					<%= image_tag "feedback_tab.png" %>
				<% end %>
			</div>
		<% end %>
		<section id="gridSystem">
			<%= render :partial => "layouts/navigation" %>
			<%= yield %>
		</section>

	</div>
	<%= render :partial => "layouts/footer" %>
</body>
</html>
